---
import type { ProgramBar } from './types'

const { bars } = Astro.props as {
  bars: ProgramBar[]
}
---

<div class="bars">
  {bars.map((bar) => (
    <span
      class="bar"
      style={`background:${bar.color}; width:${bar.width}%`}
    />
  ))}
</div>
